@use 'variaveis';

.form-campo {
    margin-bottom: 16px;
    
    label {
        font-weight: bold;
        display: block;
    }
}

button:hover {
    background-color: variaveis.$btnHover;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2);
    font-family: variaveis.$font-principal;
}


.form-campo textarea {
    resize: none;
    height: 120px;
}

form {
max-width: 360px;

    button {
        max-width: 120px;
        color: variaveis.$corDestaque;
    }
}

.input-invalid {
    border: 1px solid red;
}