$corHeader: #0f0f10;
$corSobreALoja:#0f0f10;
$corDestaque: #0f0f10;
$corNav: #1d1d1f;
$corText: #fff;
$cortextNav: #626262;
$btnColor: #119759;
$btnHover: #358962;

//fonts
$font-principal: 'DM Serif Display', serif;
$font-secundaria: 'Saira Condensed', sans-serif;
